<div class="div col-xs-12">
   <div class ="text-center" style="font-weight: bolder; padding-top: 20px;color: #787878;">Data Quality (DQ) Score</div>
   <br>
  <div class="row" *ngIf="grid0loaded"> 
  <div class="col-12">
    <span class="float-left" style = "font-size: 15px;">DQ Score</span>
    <span class="float-right"style = "font-size: 15px;color: #007399;font-weight:bolder;">{{dqscore}}</span>
  </div>
  <div class="col-12">
    <span class="float-left"style = "font-size: 15px;">Change from prior Quarter</span>
    <span class="float-right"style = "font-size: 15px;color: #007399;font-weight:bolder;">{{changeFromPriorQuarter}}</span>
  </div>
</div>
</div>