<div class="row" style="background-color: #007399;padding-top: 10px;padding-bottom: 10px;">
  <div class="col-6" style="color: white;font-size: 20px;font-weight: bolder;margin-left: 15px;">Data Quality Monitoring</div>
  <div class="col-4 pull-right text-center" style="color: white;font-size: 10px;padding-top:7px;font-weight: bolder;">Default Date as of Oct-Dec 2014
  </div>
</div>
<br>
<div class="row">
  <div class="col-4">
    <app-label-percentage [percentage]="dqRIScoreModel['dqriScore']" [label]="dqRIScoreModel['header']"></app-label-percentage>
  </div>
  <div class="col-4">
    <app-label-percentage [percentage]="dQPScoreModel['dqpScore']" [label]="dQPScoreModel['header']"></app-label-percentage>
  </div>
  <div class="col-4">
    <app-label-percentage [percentage]="impactScoreModel['impactScore']" [label]="impactScoreModel['header']"></app-label-percentage>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="row">
      <div class="col-2">
        <div style="font-size: 12px;background-color: #ccc; border: solid #ccc 0.5px;width: 100%">
          <form>
            <input type="radio" name="score" [(ngModel)]="scoreSelected" (change)="updateChart1()" value="dqriScore" checked style="margin-left:5px;"> DQRI Score
            <br/>
            <input type="radio" name="score" [(ngModel)]="scoreSelected" (change)="updateChart1()" value="dqpScore" style="margin-left:5px"> DQI Score
            <br/>
            <input type="radio" name="score" [(ngModel)]="scoreSelected" (change)="updateChart1()" value="impactScore" style="margin-left:5px;margin-bottom:10px;"> Impact Score

          </form>
        </div>
      </div>
      <div class="col-6">
        <p>DQRI Score by Source System</p>

      </div>
      <div class="col-2">
        <div ngbDropdown>
          <button class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownBasic1" ngbDropdownToggle style="width: 60px;height: 30px;font-size: 12px;">{{scoreBySelected}}</button>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
            <li class="dropdown-item">
                <input type="radio" name="score" [(ngModel)]="scoreBySelected" value="level1ProcessDQP" (change)="updateChart1()" checked style="margin-left:5px;"> Level 1 Process
            </li>
            <li class="dropdown-item">
                <input type="radio" name="score" [(ngModel)]="scoreBySelected" value="level2ProcessDQP" (change)="updateChart1()" checked style="margin-left:5px;"> Level 1 Process
            </li>
            <li class="dropdown-item">
                <input type="radio" name="score" [(ngModel)]="scoreBySelected" value="sourceSystem" (change)="updateChart1()" checked style="margin-left:5px;"> Source System
            </li>
            <li class="dropdown-item">
                <input type="radio" name="score" [(ngModel)]="scoreBySelected" value="sourceLob" (change)="updateChart1()" checked style="margin-left:5px;"> Legal Entity / LOB
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <p>ECDE Count for Source System</p>
    <div class="row">

      <div class="col-4">
        <div style="font-size: 12px;background-color: #ccc; border: solid #ccc 0.5px;width: 100%">
          <form>
            <input type="radio" name="priority" value="pd" checked style="margin-left:5px;"> ECDE Records Tested
            <br/>
            <input type="radio" name="priority" value="ps" style="margin-left:5px"> ECDE Count
          </form>
        </div>
      </div>
      <div class="col-4">
        <div ngbDropdown>
          <button class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownBasic1" ngbDropdownToggle>LOB</button>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
            <li class="dropdown-item" *ngFor="let d3 of drop3" style="width: 80px;height: 30px;font-size: 12px;">
              <input type="checkbox" id="LOBFilterid" checked="checked" [(ngModel)]="LOBFilter[d4]" (change)="filterData($event)">{{d4}}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <div ngbDropdown>
          <button class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownBasic1" ngbDropdownToggle>Source System</button>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
            <li class="dropdown-item" *ngFor="let d4 of drop4">
              <input type="checkbox" id="sourceSystemFilterid" checked="checked" [(ngModel)]="sourceSystemFilter[d4]" (change)="filterData($event)">{{d4}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row ">
  <div class="col-5">
      <chart #grid1Chart [type]="grid1config.type" [data]="grid1config.data" [options]="grid1config.options"></chart>
  </div>
  <div class="col-7">
    <div class="col-12">

      <chart #grid2Chart [type]="grid2config.type" [data]="grid2config.data" [options]="grid2config.options"></chart>
  </div>

</div>

</div>
<div class="row">
  <div class="col-12">
    <app-grid></app-grid>
</div>
</div>
